// Development: dev API, verbose network logging.
// "//" starts a comment in xcconfig, hence the "/$()/" in URLs.

APP_ENV_NAME = dev
API_BASE_URL = https:/$()/dev-api.writepulp.com/api/v1/
CDN_BASE_URL = https:/$()/cdn-dev.writepulp.com/
WS_URL = wss:/$()/dev-api.writepulp.com/ws-chat
DEV_MODE = YES
